name: CI/CD Docker Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Docker
        uses: docker/setup-buildx-action@v2

      - name: Build Docker image
        run: docker build -t ci-cd-docker-pipeline .

      - name: Run Docker container
        run: docker run --rm ci-cd-docker-pipeline
